<!-- Navbar -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default">
  <ul class="am-navbar-nav am-cf am-avg-sm-4">
    <li>
      <a href="{:url('Index/index')}">
        <span class="am-icon-home"></span>
        <span class="am-navbar-label">首页</span>
      </a>
    </li>
    
    <li>
      <a href="{:url('Trend/index')}">
        <span class="am-icon-line-chart"></span>
        <span class="am-navbar-label">走势图</span>
      </a>
    </li>
    
     <li>
      <a href="{:url('Plan/index')}">
        <span class="am-icon-file-text"></span>
        <span class="am-navbar-label">全部计划</span>
      </a>
    </li>
               
    <li>
      <a href="{:url('User/index')}">
        <span class="am-icon-user"></span>
        <span class="am-navbar-label">个人中心</span>
      </a>
    </li>
    
  </ul>
</div>
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
  <a href="#top" title="返回顶部"><!-- {:config('public.assets')}/img/s.png -->
    <img class="am-gotop-icon-custom" src="http://amazeui.b0.upaiyun.com/assets/i/cpts/gotop/goTop.gif"/>
  </a>
</div>
<script src="{:config('public.assets')}/js/jquery-3.3.1.min.js"></script>
<script src="{:config('public.assets')}/js/amazeui.min.js"></script>
<script src="{:config('public.assets')}/layer/layer.js"></script>
<script src="{:config('public.assets')}/js/app.js"></script>
