<link rel="stylesheet" href="{:config('public.tp5jump')}/layui/css/layui.css" />
<link rel="stylesheet" href="{:config('public.tp5jump')}/common.css" />

<link rel="stylesheet" type="text/css" href="{:config('public.plugin')}/kindeditor/themes/default/default.css" />
<link rel="stylesheet" type="text/css" href="{:config('public.plugin')}/kindeditor/plugins/code/prettify.css" />
<script type="text/javascript" src="{:config('public.plugin')}/kindeditor/kindeditor-all-min.js"></script> 
<script type="text/javascript" src="{:config('public.plugin')}/kindeditor/lang/zh-CN.js"></script> 
<script type="text/javascript" src="{:config('public.plugin')}/kindeditor/plugins/code/prettify.js"></script> 
    
<script>
	
		KindEditor.ready(function(K) {		
			var editor1 = K.create('textarea[name="content"]', {
				cssPath : '{:config('public.plugin')}/kindeditor/plugins/code/prettify.css',
				uploadJson : '{:config('public.plugin')}/kindeditor/php/upload_json.php',
				fileManagerJson : '{:config('public.plugin')}/kindeditor/php/file_manager_json.php',
				allowFileManager : true,
				resizeType:1,
				allowImageupload:true,
				width:900,
				height:200,				
				afterCreate : function() {
					var self = this;
					K.ctrl(document, 13, function() {
						
						self.sync();
						K('form[name=info]')[0].submit();
					});
					K.ctrl(self.edit.doc, 13, function() {
						
						self.sync();
						K('form[name=info]')[0].submit();
					});
				},				
				             
			});
			prettyPrint();			
			
		});
		
	</script>
<div class="page-content">
    <div class="col-sm-6 pull-right">
      <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.history.back();">
            返回上一页
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
        <h1>
            {:model('menu')->getParentNname()}              
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
  
     <form class="layui-form layui-form-labelsave" action="{:input('id')?'edit':'add'}" enctype="multipart/form-data" method="post">
     
     <input type="hidden" name="id"  value="{$editone.id}"/>
  
    
     <div class="layui-col-xs12 ">
		  <div class="layui-form-item">
		    <label class="layui-form-label">公告标题</label>
		    <div class="layui-input-block">
		      <input type="text" name="title" value="{$editone.title}" required placeholder="请输入标题" autocomplete="off" class="layui-input">
		    </div>
		  </div>
    </div>	
   
  
    
    <div class="layui-col-xs12 ">		  
	 <div class="layui-form-item">
	    <label class="layui-form-label">是否显示</label>
	    <div class="layui-input-block">
	      <input type="radio" name="is_show" value="1" title="是" {eq name="editone.is_show" value="1"}checked{/eq} checked>
	      <input type="radio" name="is_show" value="0" title="否" {eq name="editone.is_show" value="0"}checked{/eq} >	     
	    </div>
	  </div>
    </div>	
    
    
    
  
    
    <div class="layui-col-xs12">
		 <div class="layui-form-item">
    <label class="layui-form-label">商品内容：</label>
    <div class="layui-input-block">
     <textarea name="content"   placeholder="请输入内容" class="layui-textarea">{$editone.content}</textarea>
    </div>
  </div>
    </div>	
    
     
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" type="submit" id="upload">{:input('id')?'编辑':'新增'}</button>     
    </div>
  </div>
</form>   
        
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script src="{:config('public.tp5jump')}/layui/layui.js"></script>
<script src="{:config('public.static')}/ace1.4/assets/js/jquery-2.1.4.min.js"></script> 
<script src="{:config('public.tp5jump')}/common.js"></script> 
 <script>

//Demo
layui.use('form', function(){
 var form = layui.form;
  
});
</script>
 


