<link rel="stylesheet" href="{:config('public.tp5jump')}/layui/css/layui.css" />
<link rel="stylesheet" href="{:config('public.tp5jump')}/common.css" />

<div class="page-content">
    <div class="col-sm-6 pull-right">
       <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.history.back();">
            返回上一页
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    <div class="page-header">
         <h1>
            {:model('menu')->getParentNname()}              
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
    
   <form class="layui-form layui-form-labelsave" enctype="multipart/form-data" method="post" action="{:input('id')?'edit':'add'}">           
   
    <input type="hidden" name="id" value="{$editone.id}"/> 
    
   <div class="layui-col-xs10">
		  <div class="layui-form-item">
		    <label class="layui-form-label">彩票名称</label>
		    <div class="layui-input-block" >
		      <input type="text" name="bcname"  value="{$editone.bcname}"  placeholder="彩票类型" autocomplete="off" class="layui-input">
		    </div>    
		    
		  </div>
    </div>	
     
    
     <div class="layui-col-xs10">
		  <div class="layui-form-item">
		    <label class="layui-form-label">彩票类型图片</label>
		    <div class="layui-input-block">
		      <input type="file" name="bcimg" value="{$editone.bcimg}" {:input('id')?' ':'required'}>
		    </div>
		  </div>
    </div>
    <input type="hidden" name="id" value="{$editone.id}"/>
   {if condition="$editone.id neq ''"}
    <div class="layui-col-xs10">
		  <div class="layui-form-item">
		    <label class="layui-form-label">缩略图:</label>
		    <div class="layui-input-block">
		     <img class="simg" src="{$editone.bcimg}" width="60"/>
		    </div>
		  </div>
    </div>
{/if}
     
   
        
   <div class="layui-col-xs10">
		   <div class="layui-form-item">
    <label class="layui-form-label">显示状态</label>
    <div class="layui-input-block">
      <input type="radio" name="status" value="1" title="显示" {if condition="$editone.status eq '1'"} checked="checked" {/if} checked>
      <input type="radio" name="status" value="0" title="隐藏" {if condition="$editone.status eq '0'"} checked="checked" {/if}>
    </div>
  </div>
    </div>	
    
    <div class="layui-col-xs10">
		   <div class="layui-form-item">
    <label class="layui-form-label">接口</label>
    <div class="layui-input-block">
       <input type="text" name="api" value="{$editone.api}" autocomplete="off" class="layui-input" required>
    </div>
  </div>
    </div>	
   
    
    <div class="layui-col-xs10">
		   <div class="layui-form-item">
    <label class="layui-form-label">开奖时间/分</label>
    <div class="layui-input-block">
       <input type="text" name="opentime" value="{$editone.opentime}" autocomplete="off" class="layui-input" required>
    </div>
  </div>
    </div>	
        
   <div class="layui-col-xs10">
		  <div class="layui-form-item">
		    <label class="layui-form-label">开奖号位数</label>
		    <div class="layui-input-block" >
		      <input type="number" name="opencodelength"  value="{$editone.opencodelength}"  placeholder="位数" autocomplete="off" class="layui-input">
		    </div>    
		    
		  </div>
    </div>
         
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="classes">{:input('id')?'编辑':'添加'}</button>     
    </div>
  </div>
</form>   
   
    </div><!-- /.row -->
</div><!-- /.page-content -->
 <script src="{:config('public.tp5jump')}/layui/layui.js"></script>
 <script src="{:config('public.static')}/ace1.4/assets/js/jquery-2.1.4.min.js"></script> 
  <script src="{:config('public.tp5jump')}/common.js"></script> 
   <script>
//Demo
layui.use('form', function(){
 var form = layui.form;
});

</script>
