{__NOLAYOUT__}
<!doctype html>
<html class="no-js">
<head>
 {include file="../application/home/view/header/header.html"} 
</head>
<style>
.wsjli li{
	height:80px;
	line-height:80px;
	text-align:center;
	border:1px solid#dedede;
	font-size:16px;
}
.active{
	background:#0e90d2;
	color:white;
}
.wsjp p{
	color:red;
}
</style>
<body style="overflow-x:hidden;">
<!-- Header -->
 <header data-am-widget="header" class="am-header am-header-default"> 
           <div class="am-header-left am-header-nav">
          <a href="/home/User/index" >
          <img class="am-header-icon-custom" src="data:image/svg+xml;charset&#x3D;utf-8,&lt;svg xmlns&#x3D;&quot;http://www.w3.org/2000/svg&quot; viewBox&#x3D;&quot;0 0 12 20&quot;&gt;&lt;path d&#x3D;&quot;M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z&quot; fill&#x3D;&quot;%23fff&quot;/&gt;&lt;/svg&gt;" alt=""/>
          </a>
      </div>    
      <h1 class="am-header-title">
          修改密码
      </h1>    
  </header>
  
  <div class="am-input-group">
  <span class="am-input-group-label">新密码</span>
  <input type="password" class="am-form-field" name="password" id="password" placeholder="请输入新密码">
</div>

<div class="am-input-group">
  <span class="am-input-group-label">确认新密码</span>
  <input type="password" class="am-form-field" name="password_confirm" id="password_confirm" placeholder="确认新密码">
</div>
 <a  class="am-btn am-btn-secondary am-radius am-btn-block" onclick="editpaw()">提交</a> 


 {include file="../application/home/view/footer/footer.html"} 
 <script>
 function editpaw(){
	 var password=$('#password').val();
     var password_confirm=$('#password_confirm').val();	
     $.ajax({
 		url : '/home/User/editpaw',
 		type : "post",
 		data :{			
 			"password":password,
 			"password_confirm":password_confirm			
 		},
 		dataType : "json",			
 		success : function(data) {
 			if (data.state == 1) {			   
 				layer.msg(data.msg, {icon: 6}); 			    		     
 				location.href='/home/User/index';							
 			} else {
 				layer.msg(data.msg, {icon: 5});
 			}
 		},
 		error : function() {		
 			layer.msg('服务异常');			
 		}
 	});		   
 }
 
 </script>
</body>
</html>
